subscription_id       = "4061ab9f-5409-4b9e-93cf-a2944f954f01"
resource_group_name   = "cyberminds-terminal-ncus-rg"
location              = "northcentralus"
vm_size               = "Standard_B2as_v2"
admin_username        = "azureuser"
admin_ssh_public_key  = "ssh-ed25519 AAAA..."
domain_name_label     = "cyberminds-terminal-20260621-ncus"

allowed_origins = [
  "https://cyber-minds.github.io",
]
